<?xml version="1.0" encoding="UTF-8" ?>


<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-beans-3.0.xsd">

    <bean name="actor" class="com.stackroute.domain.Actor">
        <property name="name" value="Hritik" />
        <property name="gender" value="Male" />
        <property name="age" value="40" />
    </bean>


    <bean id="movie" class="com.stackroute.domain.Movie" autowire="byName">
        <property name="id" value="1"/>
        <property name="movieName" value="Jodha Akbar"/>
    </bean>

    <bean id="applicationContextAware" class="com.stackroute.awareinterface.ApplicationContextAwareDemo">

    </bean>

    <bean id="beanFactoryAware" class="com.stackroute.awareinterface.BeanFactoryAwareDemo">

    </bean>


    <bean id="beanNameAware" class="com.stackroute.awareinterface.BeanNameAwareDemo">

    </bean>


    <bean id="resourceLoaderAware" class="com.stackroute.awareinterface.ResourceLoaderAwareDemo">

    </bean>

    <bean id="beanLifeCycle" class="com.stackroute.demo.BeanLifeCycleDemo" init-method="customInit" destroy-method="customDestroy">

    </bean>

    <bean id="beanPostProcessor" class="com.stackroute.demo.BeanPostProcessorDemo">

    </bean>


</beans>